
<% @lista_oficinas.each do |ofi| %>

<%= render 'tarjeta_oficina', oficina: ofi %>

<%end %>


<a href="/oficinas/crear">volver a crear</a>


<!--cookies.delete :admin_id
        redirect_to login_path-->